<div class="form-container">
  <div class="form-card">
    <div class="back-btn" id="back-fixed">
      <%= link_to request.referer.present? ? request.referer : default_path do %>
        <%= fa_icon 'fa-backward' %>
      <% end %>
    </div>
    <div class="form-row">
      <div class="form-title">
        <h2>New Bathroom</h2>
      </div>
      <div class="col col-xs-12 col-sm-12">
        <%= simple_form_for (@bathroom) do |bath| %>
          <%= bath.error_notification %>
          <%= bath.error_notification message: bath.object.errors[:base].to_sentence if bath.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= bath.input :name %>
            <%= bath.input :size %>
            <%= bath.input :address %>
            <%= bath.input :description %>
            <%= bath.input :price_per_use%>
            <%= bath.label :shower %>
            <%= bath.collection_radio_buttons :shower_condition, [[true, 'Yes'], [false, 'No']], :first, :last  %>
            <%= bath.input :photo1 %>
            <%= bath.input :photo1_cache, as: :hidden %>
            <%= bath.input :photo2 %>
            <%= bath.input :photo2_cache, as: :hidden %>
            <%= bath.input :photo3 %>
            <%= bath.input :photo3_cache, as: :hidden %>
          </div>
          <div class=“form-actions”>
            <%= bath.submit "Submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
