<% cur_bath = Bathroom.find(@booking.bathroom_id) %>
<% if Bathroom.find(@booking.bathroom_id).user_id == current_user.id %>
  <% booker = current_user.name %>
  <h3><%= "Your bathroom has been booked by #{booker}" %></h3>
  <% else %>
  <% bathroom_owner_id = Bathroom.find(@booking.bathroom_id).user_id %>
  <% owner = User.find(bathroom_owner_id).name  %>
  <h3><%= "Your booking with #{owner} has been confirmed!" %></h3>
<% end %>
<ul>
  <li> Check in: <% custom_time = @booking.start_time %><%= custom_time.strftime("%H:%M, %F ")%> </li>
  <li> Check out: <% out_time = @booking.end_time %> <%= custom_time.strftime("%H:%M, %F") %></li>
  <li><%= cur_bath.address %></li>
</ul>


booker = <%= @booking.user.id %>
Owner = <%=  %>


bathroom = <%= @booking.bathroom_id %>
booking = <%= @booking.id %>

<!-- <p><%= @booking.start_time %></p>
<h2>End time</h2>
<p><%= @booking.end_time %></p>
<h2>Bathroom name</h2>
<p><%= @booking.id %></p>
<h2>Address</h2>
<p><%= @booking.bathroom.address %></p> -->

<!-- <div>
  <%= cl_image_path cur_bath.photo1 %>
</div> -->
