<div class="confirm-message">
    <% cur_bath = Bathroom.find(@booking.bathroom_id) %>
    <% if Bathroom.find(@booking.bathroom_id).user_id == current_user.id %>
      <% booker = current_user.name %>
      <h3><%= "Your bathroom has been booked by #{booker}" %></h3>
      <% else %>
      <% bathroom_owner_id = Bathroom.find(@booking.bathroom_id).user_id %>
      <% owner = User.find(bathroom_owner_id)  %>
      <h3><%= "Your booking with #{owner.name} has been confirmed!" %></h3>
    <% end %>
  </div>
<div class= "show-container">
  <div class="detail-container">
    <h3><strong>Trip Details</strong></h3>
    <div class="check-container">
      <div class="check">
        <h3>Check in</h3>
        <p><strong><% in_time = @booking.start_time %><%= in_time.strftime("%a, %b %d ")%></strong></p>
        <p><strong><% in_time = @booking.start_time %><%= in_time.strftime("%I:%M%p ")%></strong></p>
      </div>
      <div class="check">
        <h3>Check out</h3>
        <p><strong><% out_time = @booking.end_time %><%= out_time.strftime("%a, %b %d ")%></strong></p>
        <p><strong><% out_time = @booking.end_time %><%= out_time.strftime("%I:%M%p ")%></strong></p>
      </div>
    </div>
  </div>
  <div class="containban">
  <% if cur_bath.photo1? %>
    <div class="banner banner-fixed" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path cur_bath.photo1, crop: :fill %>');">
  <% else %>
    <div class="banner banner-fixed" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://st.hzcdn.com/simgs/cf3111130426c707_4-1308/traditional-bathroom.jpg');">
  <% end %>
  </div>

  <div class="container-map">
    <div class="show-map" id="map"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>

  <div class="container-owner">
    <%= "#{owner.name}" %>
    <% if owner.photo? %>
        <div class="large-ava">
          <%= cl_image_tag owner.photo %>
        </div>
      <% else %>
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="large-ava">
    <% end %>
  </div>
</div>






<!-- <p><%= @booking.start_time %></p>
<h2>End time</h2>
<p><%= @booking.end_time %></p>
<h2>Bathroom name</h2>
<p><%= @booking.id %></p>
<h2>Address</h2>
<p><%= @booking.bathroom.address %></p> -->

