<% bathroom_owner_id = Bathroom.find(@booking.bathroom_id).user_id %>
<% owner = User.find(bathroom_owner_id)  %>
<div class= "show-container">
  <div class= "confirm-card">
    <div class="contain-photo">
      <% if owner.photo? %>
        <div class="large-ava">
          <%= cl_image_tag owner.photo %>
        </div>
      <% else %>
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="large-ava">
      <% end %>
    </div>
    <div class="confirm-message">
      <% cur_bath = Bathroom.find(@booking.bathroom_id) %>
      <% if Bathroom.find(@booking.bathroom_id).user_id == current_user.id %>
        <% booker = current_user.name %>
        <h4><%= "Your bathroom has been booked by #{booker}" %></h4>
        <% else %>
        <h4><%= "Your booking with #{owner.name} has been confirmed!" %></h4>
      <% end %>
    </div>
  </div>
  <div class="detail-container">
    <h3><strong>Trip Details</strong></h3>
    <div class="check-container">
      <div class="check">
        <h3 class="penis">Check in</h3>
        <p><strong><% in_time = @booking.start_time %><%= in_time.strftime("%a, %b %d ")%></strong></p>
        <p><strong><% in_time = @booking.start_time %><%= in_time.strftime("%I:%M%p ")%></strong></p>
      </div>
      <div class="check">
        <h3 class="penis">Check out</h3>
        <p><strong><% out_time = @booking.end_time %><%= out_time.strftime("%a, %b %d ")%></strong></p>
        <p><strong><% out_time = @booking.end_time %><%= out_time.strftime("%I:%M%p ")%></strong></p>
      </div>
    </div>
    <div class="bath-name">
      <h3><%= cur_bath.address %></h3>
    </div>
  </div>
  <div class="contain-butt">
    <div class="large-butt" >
      <%= link_to request.referer.present? ? request.referer : default_path do %>
        <%= fa_icon 'fa-backward' %>
      <% end %>
    </div>
    <div class="large-butt" id="cancel-butt">
      <%= link_to booking_path, method: :delete,  data: { confirm: "Are you sure?" } do %>
        <%= fa_icon 'fa-times-circle' %>
      <% end %>
    </div>
    <div class="large-butt">
      <%= link_to edit_booking_path(@booking) do %>
        <%= fa_icon 'fa-edit' %>
      <% end %>
    </div>
  </div>

  <div class="container-map">
    <div class="book-map" id="map"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>






<!-- <p><%= @booking.start_time %></p>
<h2>End time</h2>
<p><%= @booking.end_time %></p>
<h2>Bathroom name</h2>
<p><%= @booking.id %></p>
<h2>Address</h2>
<p><%= @booking.bathroom.address %></p> -->

