<%= link_to "new bathroom", new_bathroom_path  %>

<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
    <div class="card-category">My booking</div>
    <div class="card-description">
      <p><%=  %></p>
      <p><%=  %></p>
      <p><%=  %></p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
    <div class="card-category">My bathroom</div>
    <div class="card-description">
      <p><%=  %></p>
      <p><%=  %></p>
      <p><%=  %></p>
    </div>
  </div>
</div>
