<div class= "banner", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'background.jpg' %>);">
  <div class="banner-content">
    <h1>Book unique bathroom and starting today, poop and pee never get easier</h1>\\
      <%= simple_form_for(@bathroom) do |f| %>
      <%= f.input :bathroom:id %>
      <%= f.submit %>
      <% end %>
  </div>
</div>

<div class="wrapper">
  <div class='row'>
    <%= @bathrooms.each do |bathroom| %>
    <div class = "col col-sx-12 col-sm-4">
      <div class ="card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= "https://kitt.lewagon.com/placeholder/cities/#{shanghai}" %>);">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2><%= Bathroom.name %></h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <% end %>
  </div>
</div>

