<!DOCTYPE html>
<%= render 'shared/navbar' %>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Milonga|Montserrat:100,00" rel="stylesheet">
    <title>BathroomJoy | Don't Piss Yourself</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['AIzaSyDGUfjS5-6iTex7AMAktWROhQ6LgZVdgAQ']}" %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>
